[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
gensim = "*"
pyparsing = "*"
seaborn = "*"
matplotlib-venn = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
